anyio==4.13.0
anysqlite==0.0.5
asgiref==3.11.1
blinker==1.9.0
certifi==2026.2.25
dep-logic==0.5.2
distlib==0.4.0
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
filelock==3.29.0
findpython==0.7.1
gunicorn==26.0.0
h11==0.16.0
hishel==1.1.10
httpcore==1.0.9
httpx==0.28.1
id==1.6.1
idna==3.11
installer==0.7.0
markdown-it-py==4.0.0
mdurl==0.1.2
msgpack==1.1.2
packaging==26.1
pbs-installer==2026.4.7
pdm==2.26.7
platformdirs==4.9.6
Pygments==2.20.0
PyJWT==2.12.1
PyMySQL==1.1.2
pyproject_hooks==1.2.0
python-decouple==3.8
python-discovery==1.2.2
python-dotenv==1.2.2
resolvelib==1.2.1
rich==15.0.0
shellingham==1.5.4
socksio==1.0.0
sqlparse==0.5.5
tomlkit==0.14.0
truststore==0.10.4
typing_extensions==4.15.0
tzdata==2025.3
unearth==0.18.2
urllib3==2.6.3
virtualenv==21.2.4
